:root {
  --primary-color: rgb(234, 104, 153);
  --secondary-color: rgb(252, 204, 48);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --popins-text: "Poppins", sans-serif;
  --third-color: rgba(59, 59, 59, 0.603);
}
body {
  font-family: "Playfair Display", serif;
}
.bg-myColor {
  background: rgb(245, 126, 171);
}
.all {
  margin: 50px;
}
h1 {
  font-size: 70px;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 0;
  margin-top: 50px;
}
h2 {
  margin-top: 0;
  text-align: center;
}
.summary {
  text-align: center;
  margin-top: 50px;
}
.needsBorder {
  border: 3px solid var(--secondary-color);
}
.where{
    color: var(--third-color);
}
.phoneNumber {
  font-family: var(--popins-text);
}
.summaryText {
  margin-left: 100px;
  margin-right: 100px;
}
a {
  color: var(--secondary-color);
}
h3 {
  color: var(--primary-color);
}
